h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 700;
    padding-top: 6vh;
}

main p {
    font-style: italic;
    line-height: 1.6;
    margin: 4rem 0;
}

.services {
    width: fit-content;
    margin: 0 auto;
}

.services hr {
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
}